<header>
    <nav>
        <mat-toolbar color="primary">
            <button class="nav-btn" mat-raised-button routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">HOME</button>
            <button class="nav-btn" mat-raised-button routerLink="/users/login" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">LOGIN</button>
            <button class="nav-btn" mat-raised-button routerLink="/users/register" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">REGISTER</button>
        </mat-toolbar>
    </nav>
</header>